.header {
    display: grid;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
}

.cart-button {
    position: relative;
    float: left;
    z-index: 999;
    margin-top: -70px;
    margin-right: 20px;
}
