.product {
    margin-bottom: 50px;

    margin: 1px;

    > img {
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 20px;
        max-height: 210px;
        width: 100%;
        border: 0.5px solid #3fc060 !important;
    }

    .badge {
        margin-bottom: 0;
    }

    small {
        margin-top: 0;
        line-height: 15px;
        display: block;
    }

    button {
        position: absolute;
        right: 30px;
        font-size: 25px;
        margin-top: 155px;
        padding: 1px 12px;
    }
}
