.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1 auto;
    background: #162328;

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.cart-button {
    position: relative;
    float: right;
    z-index: 999;
    margin-right: 10px;
}
